{% extends 'base.html.twig' %}

{% block title %}UserDetails{% endblock %}

{% block body %}
    {% include('base.html.twig') %}

    <div class="container" style=" margin-top: 5%">
        <h1>User Details</h1>

        <table class="table table-info" style="max-width: 600px;" >
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user_detail.id }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ user_detail.FirstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ user_detail.LastName }}</td>
            </tr>
            <tr>
                <th>BirthDate</th>
                <td>{{ user_detail.BirthDate ? user_detail.BirthDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ user_detail.Address }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ user_detail.Phone }}</td>
            </tr>
            </tbody>
        </table>

        <a class="btn btn-primary" href="{{ path('user_show', {id: user_detail.user}) }}">Back</a>

        <a class="btn btn-warning" href="{{ path('user_details_edit', {'id': user_detail.id}) }}">edit</a>

    </div>

{% endblock %}
