{% extends 'base.html.twig' %}

{% block title %}Animal{% endblock %}

{% block body %}
    {% include('base.html.twig') %}
<div class="container" style="margin-top: 5%">
    <div style="max-width: 600px">
        <h1>Animal</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ animal.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ animal.Name }}</td>
            </tr>
            <tr>
                <th>BirthDate</th>
                <td>{{ animal.BirthDate ? animal.BirthDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ animal.Type }}</td>
            </tr>
            <tr>
                <th>Breed</th>
                <td>{{ animal.Breed }}</td>
            </tr>
            <tr>
                <th>Sex</th>
                <td>{{ animal.Sex }}</td>
            </tr>
            <tr>
                <th>Allergies</th>
                <td>{{ animal.Allergies }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ animal.Weight }}</td>
            </tr>
            </tbody>
        </table>


        <a class="btn btn-warning" href="{{ path('animal_edit', {'id': animal.id}) }}">Edit</a>

        {{ include('animal/_delete_form.html.twig') }}
        <a class="btn btn-info" href="{{ path('all_animals_per_user',{User:app.user.id}) }}">Back to list</a>

    </div>
</div>

{% endblock %}
