{% extends 'base.html.twig' %}
{% block title %}Examination index{% endblock %}

{% block body %}
    {% include('base.html.twig') %}

    <h1>Examination index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Description</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for examination in examinations %}
            <tr>
                <td>{{ examination.id }}</td>
                <td>{{ examination.Date ? examination.Date|date('Y-m-d') : '' }}</td>
                <td>{{ examination.Description }}</td>
                <td>
                    <a href="{{ path('examination_show', {'id': examination.id}) }}">show</a>
                    <a href="{{ path('examination_edit', {'id': examination.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('examination_new') }}">Create new</a>
{% endblock %}
